.signup-page {
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.signup-page .signup-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 20px;
  border: solid 1px var(--card-border);
  border-radius: 4px;
}
.signup-page .signup-card .signup-form h3 {
  font-size: 14px;
  line-height: 17px;
  color: #6b6b6b;
}
.signup-page .signup-card .signup-form .form-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.signup-page .signup-card .signup-form .form-category .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.signup-page .signup-card .signup-form .form-category label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-dark);
  margin: 0px 24px 0px 4px;
}
.signup-page .signup-card .signup-form .form-category input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  border: solid 1px var(--card-border);
  border-radius: 2px;
  padding: 0px 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-dark);
}
.signup-page .signup-card .signup-form .form-category select {
  width: 30%;
  height: 40px;
  border: solid 1px var(--card-border);
  border-radius: 4px;
  padding: 0px 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: var(--text-dark);
  margin-right: 8px;
}
.signup-page .signup-card .signup-form .form-category option {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: var(--text-dark);
}
.signup-page .signup-card .signup-form button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--brand--green);
  color: white;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}
.signup-page .signup-card .label {
  margin-top: 14px;
  text-align: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-dark);
}
.signup-page .signup-card .label a {
  color: var(--brand--green);
  text-decoration: underline;
}
