.form-group {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 8px 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: var(--font-family);
  transition: all 0.3s ease-in-out;
}
.form-group input[type="radio"] {
  width: auto;
}
.form-group .select-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0;
  flex-wrap: wrap;
}
.form-group .select-options .select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px 24px 8px 0;
  font-size: 16px;
  font-family: var(--font-family);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-group .select-options .select-option label {
  margin: 0 6px;
}
/* .form-group input:focus {
  /* outline: none; */
/* } */
.form-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
  justify-content: space-between;
}
.form-category label {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  margin: 0px 24px 0px 0px;
}
.form-category select {
  width: 30%;
  height: 40px;
  border: solid 1px var(--card-border);
  border-radius: 4px;
  padding: 0px 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.form-group h2 {
  opacity: 0.8;
}
.form-group hr {
  width: 100%;
  border: solid 0.5px var(--card-border);
  opacity: 0.3;
}
.upload-image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 8px;
  width: 160px;
}
.upload-image-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.upload-image-container input {
  width: 73%;
  padding: 10px 8px;
}

.post-property button {
  width: 100%;
}
