.btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--brand--green);
}
.btn-secondary {
  background-color: var(--bg-white);
  color: var(--brand--green);
  border: 1px solid var(--brand--green);
  border-radius: 4px;
}
.btn-outline {
  background-color: transparent;
  color: var(--bg-white);
  border: 1px solid var(--bg-white);
  border-radius: 4px;
}
