.manage-property-card .options-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.manage-property-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0;
  align-items: center;
  border-bottom: 1px solid var(--card-border);
  padding: 12px 0;
}
.manage-property-card svg {
  color: red;
  cursor: pointer;
}
.your-property-detail-card {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.your-property-detail-card .img-container {
  /* max-width: 30%; */
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.your-property-detail-card .img-container img {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}
.your-property-detail-card .property-detail-card-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.your-property-detail-card .property-detail-card-details .property-name {
  font-size: 16px;
  font-weight: 400;
  color: var(--accent--gray);
  margin: 4px 0;
}
.your-property-detail-card .property-detail-card-details .property-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-dark);
}
.your-property-detail-card .property-detail-card-details .property-city {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-dark);
  text-transform: capitalize;
}
.options-btn-container button {
  padding: 6px 12px;
  outline: none;
  border-radius: 4px;
}
.delete-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
