.mobile-title {
  margin-bottom: 0.5em;
  margin-left: 4px;
  display: inline-block;
}
.options-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.options-btn-container button {
  cursor: pointer;
}
.wishlist-property-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
  border-bottom: 1px solid var(--card-border);
}
.wishlist-property-card svg {
  color: red;
  cursor: pointer;
}
.wishlist-detail-card {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wishlist-detail-card .img-container {
  /* max-width: 30%; */
  width: 80px;
  overflow: hidden;
}
.wishlist-detail-card .img-container img {
  object-fit: cover;
  border-radius: 4px;
  width: 80px;
  height: 80px;
}
.wishlist-detail-card .property-detail-card-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wishlist-detail-card .property-detail-card-details .property-name {
  font-size: 16px;
  font-weight: 400;
  color: var(--accent--gray);
  margin: 4px 0;
}
.wishlist-detail-card .property-detail-card-details .property-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-dark);
}
.wishlist-detail-card .property-detail-card-details .property-city {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-dark);
  text-transform: capitalize;
}
