.mobile-title {
  margin-bottom: 0.5em;
  margin-left: 4px;
  display: inline-block;
}
.property-detail-card {
  border-radius: 4px;
  border: solid 1px var(--card-border);
  background-color: white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  padding: 15px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-details-page .back {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.5em 0 !important;
}

.property-detail-card .img-container {
  max-width: 30%;
  overflow: hidden;
}
.property-detail-card .img-container img {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
}
.property-detail-card .property-detail-card-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.property-detail-card .property-detail-card-details .property-name {
  font-size: 16px;
  font-weight: 400;
  color: var(--accent--gray);
  margin: 4px 0;
}
.property-detail-card .property-detail-card-details .property-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-dark);
}
.property-detail-card .property-detail-card-details .property-city {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-dark);
  text-transform: capitalize;
}
.wishlist-property-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0;
  align-items: flex-end;
}
.wishlist-property-card svg {
  color: red;
  cursor: pointer;
}
