@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Color styles */
  --brand--red: #d8232a;
  --bg-white: #f6f6f6;
  --text-dark: #292929;
  --accent--gray: #6b6b6b;
  --card-border: #c7c7c7;
  --font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--font-family);
  background-color: var(--bg-white);
}
.page {
  margin-top: 10vh;
}
.page svg {
  font-size: 2rem;
  color: var(--brand--red);
}
