.filter-page .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
}
.filter-page.page {
  padding: 0;
}
.filter-page h3 {
  font-weight: 500;
  font-size: 16px;
}
.filter-page input[type="radio"] {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid var(--accent--gray);
  transition: all 200ms ease-in-out;
  position: relative;
  top: 2px;
  font-size: 16px;
}
.filter-page input[type="radio"]:hover {
  border: 1px solid var(--text-dark);
}
.filter-page input[type="radio"]:checked {
  border: 6px solid var(--brand--green);
}
.filter-page .filter-header .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  cursor: pointer;
}
.filter-page .filter-header .search p {
  font-size: var(--mobile-title);
  line-height: 25px;
  color: var(--text-dark);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.filter-page .filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 0;
  /* border-bottom: 1px solid var(--card-border); */
}
.filter-page .filter-group input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--card-border);
  font-size: 16px;
}
::-webkit-input-placeholder {
  /* Edge */
  opacity: 0.7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.7;
}

::placeholder {
  opacity: 0.7;
}
.filter-page .filter-group .filter-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.filter-page .filter-group .filter-item p {
  margin: 8px 18px;
}
.advanced-filters {
  color: var(--brand--green);
  padding-bottom: 12px;
  border-bottom: 1px solid var(--card-border);
}
.filter-page .filter-group .filter-item input {
  margin-right: 8px;
}
.filter-body {
  width: 100%;
  padding: 16px 10px;
}
.filter-page .filter-group .filter-item .select-option {
  margin: 8px 18px 8px 0;
}
button.filter-btn {
  width: 100%;
  margin: 6px 0;
}
.css-b62m3t-container {
  width: 100%;
  margin: 12px 0;
}
@media screen and (min-width: 576px) {
  .filter-page .filter-header .search p {
    font-size: 24px;
  }
  .css-b62m3t-container {
    width: 45%;
    margin: 12px 0;
  }
  .filter-page .filter-group h3 {
    font-size: 18px;
  }
  .filter-page .filter-group .filter-item {
    width: 70%;
  }
  .filter-page .filter-group input[type="text"] {
    width: 45%;
  }
  .advanced-filters {
    font-size: 20px !important;
  }
  button.filter-btn {
    width: 40%;
    margin: 6px auto;
  }
}
/* 
.filter-page .filters {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.filter-page .filters .filter {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.filter-page .filters .filter .filter-title {
  padding-bottom: 12px;
}
.filter-page .filters .filter .filter-title p {
  font-size: var(--mobile-title);
  line-height: 25px;
  color: var(--text-dark);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.filter-page .filters .filter .filter-items {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.filter-page .filters .filter .filter-items button {
  margin-right: 12px;
  white-space: nowrap;
}
::-webkit-scrollbar {
  background: transparent;
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--brand--green);
  border-radius: 12px;
} */
