.navbar {
  padding: 20px 10px;
  background-color: var(--brand--green);
  color: white;
}
.navbar .top-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar .top-header .logo {
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  font-weight: bold;
  color: #ffffff;
}
.navbar .search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 24px;
}
.navbar .search-bar .input {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-white);
  border-radius: 4px;
  color: var(--text-dark);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #747474;
}
