.each-property .property-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.each-property h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.each-property .description {
  margin: 16px 0px;
}
.each-property .mobile-title {
  margin-bottom: 0 !important;
}
.each-property .description p {
  font-size: 16px;
  opacity: 0.8;
  margin: 8px 4px;
}
.each-property .carousel {
  min-height: 240px !important;
}

.grid-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px var(--card-border);
  /* background-color: white; */
  border-radius: 4px;
  padding: 6px 14px;
}
.grid-child span {
  font-size: 14px;
  color: var(--text-dark);
  opacity: 0.7;
  margin-bottom: 8px;
}
.grid-child p {
  font-size: 16px;
  color: var(--text-dark);
  font-weight: 500;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin: 18px 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.property-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.property-btn-container button {
  width: 49%;
  margin: 8px 0;
}
.specification-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 4px;
  border-bottom: 1px solid var(--card-border);
  padding: 12px 0;
}
.specification-container .specification-title {
  width: 40%;
  font-weight: 400;
  border-right: 1px solid var(--card-border);
}
.specification-container .specification-value {
  width: 60%;
  font-weight: 500;
  padding: 0 14px;
}
.specification-container .specification-value span {
  font-size: 14px;
  color: var(--text-dark);
  opacity: 0.7;
}
.about-owner-container {
  margin: 16px 0;
  padding: 16px 0;
}
.about-owner-container .owner-details {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 12px 4px;
  border: 1px solid var(--card-border);
  padding: 12px 8px;
  border-radius: 4px;
}
.about-owner-container .owner-details .owner-contact {
  padding: 8px 22px;
  width: 60%;
}
.about-owner-container .owner-details .owner-image {
  width: 72px;
  height: 72px;
}
.about-owner-container .owner-details .owner-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.about-owner-container .owner-details button {
  font-size: 16px;
  margin: 8px 0;
  width: 100%;
}
.property-city,
.property-state {
  text-transform: capitalize;
}
.specification-container .specification-value {
  text-transform: capitalize;
}
.amenities-container .amenities-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4px;
}
.amenities-container .amenities-list .amenities-card {
  margin-right: 24px;
  margin-top: 12px;
  border-radius: 4px;
  font-size: 17px;
}
@media screen and (max-width: 576px) {
  .property-btn-container button {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about-owner-container .owner-details {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .each-property .property-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .each-property .property-details .carousel,
  .each-property .property-details .property-details-child {
    width: 50%;
  }
  .each-property .property-details .property-details-child {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
