.view-response-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.view-response-container .view-response-card {
  border: 1px solid var(--card-border);
  border-radius: 4px;
  width: 100%;
  padding: 4px 12px;
  margin: 8px 0;
}
.view-response-card .contacted-by-details {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.view-response-card .property-details {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e2f8f0;
  padding: 8px 8px;
  border-radius: 4px;
}
.contacted-by-title {
  font-size: 17px;
  font-weight: 600;
}
.contacted-by-title span {
  margin-left: 8px;
  font-size: 17px;
}
.contact-details {
  font-size: 15px;
}
.contact-details span {
  font-size: 15px;
  font-weight: 400;
}
.contact-details p {
  font-size: 16px;
  margin: 2px 0;
}
.contacted-by-details .contact-number {
  color: var(--brand--green);
}
.contacted-by-title span {
  font-weight: 400;
}

.property-name {
  margin: 8px 0;
  font-weight: 500;
}
.property-details > div {
  margin: 4px 0;
}
.property-details .property-for {
  text-transform: capitalize;
}
.property-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
