.profile-details-page .back {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profile-details-page .back:hover .back-icon {
  transform: translateX(-5px);
}
.profile-details-page .back-icon {
  font-size: 22px;
  transition: all 0.1s ease;
}
.profile-details-page .back h2 {
  margin-left: 8px;
}
.profile-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-user-image {
  width: 100%;
  height: 80px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.profile-user-image img {
  width: 80px;
  height: 100%;
  border-radius: 50%;
}
.profile-user-details {
  padding: 8px 0;
}
.profile-user-details .form-group {
  display: flex;
  margin: 18px 0;
  border-bottom: 1px solid var(--card-border);
  padding: 8px 0;
}
.profile-user-details .form-group label {
  width: 30%;
  border-right: 1px solid var(--card-border);
  font-weight: 500;
}
.profile-user-details .form-group p {
  padding: 0 12px;
}
