.signup-page {
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.signup-page .signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  border: solid 1px var(--card-border);
  border-radius: 4px;
}
.signup-page .signup-card .signup-form {
  width: 100%;
  margin: 6px 0;
}
.signup-page .signup-card h2 {
  text-align: center;
}
.signup-page .signup-card .signup-form .user-image {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  justify-content: flex-start;
}
.signup-page .signup-card .signup-form .user-image img {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.signup-page .signup-card .signup-form h3 {
  font-size: 14px;
  line-height: 17px;
  color: #6b6b6b;
}
.signup-page .signup-card .signup-form .form-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.signup-page .signup-card .signup-form .form-category .select-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.signup-page
  .signup-card
  .signup-form
  .form-category
  .select-options
  .select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 18px 8px 0;
}
.signup-page
  .signup-card
  .signup-form
  .form-category
  .select-options
  .select-option
  input[type="radio"] {
  margin-right: 8px;
}
.signup-page .signup-card .signup-form .form-category .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.signup-page .signup-card .signup-form .form-category label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-dark);
  margin: 0px 24px 0px 4px;
}
.signup-page .signup-card .signup-form .form-category span {
  font-size: 16px;
}
.form-category input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 48px;
  border: solid 1px var(--card-border);
  border-radius: 2px;
  padding: 0px 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-dark);
}
.signup-page input[type="radio"] {
  appearance: none;
  height: 16px;
  width: 16px !important;
  border-radius: 2px !important;
  cursor: pointer !important;
  border: 1px solid var(--accent--gray) !important;
  transition: all 200ms ease-in-out !important;
  position: relative !important;
  top: 0px !important;
  font-size: 16px !important;
  padding: 0 !important;
}
.signup-page input[type="radio"]:hover {
  border: 1px solid var(--text-dark) !important;
}
.signup-page input[type="radio"]:checked {
  border: 6px solid var(--brand--green) !important;
}
.signup-page .css-6j8wv5-Input {
  margin: 0;
}
.form-category .select-input {
  width: 100%;
  height: 40px;
}
.form-category textarea {
  width: 100%;
  height: 100px;
  border: solid 1px var(--card-border);
  border-radius: 2px;
  padding: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-dark);
}
